div{
  display: block;
}
.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-size: cover;
  background-position: center center;
  background-color: white;
}
.sidebar-wrapper ul{
  margin: 0px;
  padding: 0px;
}
.sidebar-wrapper ul li{
  padding: 4% 0;
  margin: 0 10%;
  width:80%;
  border-bottom: 1px solid black;
  border-bottom-color: #bbb;  
  list-style: none;
}

.sidebar-wrapper ul li i,p{
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}
.sidebar-wrapper ul li i{
  font-size: 24px;
  margin-right: 15px;
  line-height: 30px;
  width: 30px;
}

 .sidebar-wrapper {
  position: relative;
  max-height: none;
  min-height: 20%;
  overflow: hidden;
  width: 261px;
  z-index: 4;
  box-shadow: inset -1px 0px 0px 0px #DDDDDD;
}
.main-panel {
  background-color: #f4f3ef;
  position: relative;
  z-index: 2;
  float: right;
  width: calc(100% - 260px);
  min-height: 100%;
}
.carousel-item-height {
  max-height:100 !important;
}
.navbar-color{
  background-color: #69b;
}
.margin-bottom-0{
  margin-bottom: 0px;
}
.box{
  position: relative;
  border-radius: 2px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.navbar-width{
  width: 60%;
}

.container {
  width: 100% !important;
  padding-bottom: 0;
}
.main-sidebar, .left-side {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 230px;
  z-index: 810;
  -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
  transition: transform .3s ease-in-out,width .3s ease-in-out;
}
.user-panel {
  position: relative;
  width: 100%;
  padding: 10px;
  overflow: hidden;
}
.img-circle {
  border-radius: 50%;
}
img {
  border: 0;
}
img {
  vertical-align: middle;
}

.user-panel>.image>img {
  width: 100%;
  max-width: 45px;
  height: 45px;
}
.align-center{
   vertical-align: middle;
}
.margin{
  width: 100%;  
  margin: 10%;
}
[class^="ti-"], [class*=" ti-"] {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  line-height: 1.42857;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}